.block1
{
  width: auto;
  height: 100px;
  background-image: linear-gradient(to right,grey,black);
}
.block1:hover
{
  background-image: linear-gradient(to left,grey,black);
  color: white;
  transition-duration: 1s;
  border-top: 100px solid;
  border-top-color: red;
}

.block2
{
  width: auto;
  height: 100px;
  background-image: linear-gradient(to right,blue,black);
}
.block2:hover
{
  background-image: linear-gradient(to left,blue,black);
  color: white;
  transition-duration: 1s;
  border-top: 100px solid;
  border-top-color: green;
}
